@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.card {
    display: flex;
    justify-content: space-between;
    padding: 1.125rem 2rem;
    margin: 6.5rem auto 1.25rem;
    align-items: center;
    box-shadow: 0 2px 6px 0 rgb(141, 156, 156);
    border-radius: 3px;
    .user-info {
        display: flex;
        height: 100%;
        img {
            border-radius: 50%;
            width: 80px;
            height: 80px;
        }
        .info {
            height: 100%;
            margin-left: 20px;
            justify-self: flex-start;
            h2 {
                display: block;
                margin-block-start: 0.67em;
                margin-block-end: 0.67em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                font-size: 1.5rem;
                font-weight: 700;
                line-height: .75;
                color: #1e223c;
                margin: 0.7rem 0 0 0;
                font-family: 'Montserrat', sans-serif;
            }
            .link-text {
                font-family: 'Montserrat', sans-serif;
                cursor: pointer;
                font-size: .875rem;
                font-weight: 700;
                line-height: 1.14;
                color: #5670fb;
                margin: 0;
                padding: 0;
                display: block;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
            }
        }
    }
    .stats-count-wrapper {
        display: flex;
        .divider {
            margin-left: 10px;
        }
        .stats-left {
            .heading {
                font-size: .625rem;
                line-height: 1.6;
                color: #97a0be;
                margin-bottom: .0rem;
            }
            .stats-wrapper {
                display: flex;
                align-items: center;
                .stat-col {
                    padding-right: 1rem;
                    .count {
                        font-size: 1rem;
                        font-weight: 600;
                        line-height: 1.5;
                        color: #000;
                    }
                    .desc {
                        font-size: .75rem;
                        line-height: 1.5;
                        white-space: nowrap;
                        color: #000;
                    }
                }
            }
        }
        .stats-right {
            padding-left: 1.25rem;
            .heading {
                font-size: .625rem;
                line-height: 1.6;
                color: #97a0be;
                margin-bottom: .0rem;
            }
            .stats-wrapper {
                display: flex;
                align-items: center;
                .stat-col {
                    padding-right: 1rem;
                    .count {
                        font-size: 1rem;
                        font-weight: 700;
                        line-height: 1.5;
                        color: #000;
                    }
                    .desc {
                        font-size: .75rem;
                        line-height: 1.5;
                        white-space: nowrap;
                        color: #000;
                    }
                }
            }
        }
    }
}

p {
    margin: 0;
    padding: 0;
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}